{#
    Check traefik sample for full config options
    https://raw.githubusercontent.com/containous/traefik/master/traefik.sample.toml
#}
logLevel = "INFO"

[entryPoints]
  [entryPoints.http]
  address = ":80"

[api]
  entryPoint = "traefik"
  dashboard = true

[metrics]
  [metrics.prometheus]
  entryPoint = "traefik"

[consulCatalog]
endpoint = "127.0.0.1:8500"

{% raw %}
frontEndRule = "{{.ServiceName}}.localhost"
{% endraw %}
